html, body {
	background-color: white;
}

.giphInput {
	height: 58px;
	width: 65%;
	padding: 20px;
	padding-bottom: 24px;

}

.body-container {
	height: auto;
	width: 400px;
	background-color: #d8d8d8;
	padding: 25px;
	margin-right: 25%;
	margin-left: 25%;
}
.gifs-container img {
	max-height: 100%;
	max-width: 100%;
	margin-top: 1px;
	margin-bottom: 25px;
	float: middle;
	align: middle;

}
